@model IEnumerable<ProjetoBackend.Models.Servico>

@{
    ViewData["Title"] = "Serviços";
}

<div class="container">


    <h1 class="Titulos">Serviços</h1>

    <form asp-action="Search" method="get">
        <input type="text" name="nome" class="col" placeholder="Buscar cliente por nome..." />
        <button type="submit" class="icone"><ion-icon name="search"></ion-icon></button>
    </form>

    <p>
        <a asp-action="Create" class="btn btn-lg btn-primary btnAdicionar mt-3"><ion-icon name="person-add-outline"></ion-icon>  Adicionar Serviço</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ValorServico)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorServico)
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btnEdd" asp-route-id="@item.ServicoId">Editar</a>
                        <a asp-action="Details" class="btn btnEdd" asp-route-id="@item.ServicoId">Detalhes</a>
                        <a asp-action="Delete" class="btn btnEdd" asp-route-id="@item.ServicoId">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>