@model IEnumerable<ProjetoBackend.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<div class="container">

    <h1 class="Titulos">Clientes</h1>

    <form asp-action="Search" method="get">
        <input type="text" name="nome" style="border:2px solid #AB886D; border-radius:7px; background:#E4E0E1; " class="col p-2" placeholder="Buscar cliente por nome..." />
        <button type="submit" class="icone"><ion-icon name="search"></ion-icon></button>
    </form>

    <p>
        <a asp-action="Create" class="btn btn-lg btn-primary btnAdicionar mt-3"><ion-icon name="person-add-outline"></ion-icon>Adicionar Cliente</a>
    </p>
    <table class="w-100" style="background:#D6C0B3!important;color:#493628;">
        <thead style="background:#D6C0B3!important;border:1px solid #AB886D;">
            <tr>
                <th class="p-2">
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th class="p-2">
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th class="p-2">
                    @Html.DisplayNameFor(model => model.CnpjCpf)
                </th>
                <th class="p-2">
                    @Html.DisplayNameFor(model => model.Celular)
                </th>
                <th class="p-2">
                    @Html.DisplayNameFor(model => model.DataNascimento)
                </th>
                <th class="p-2">
                    @Html.DisplayNameFor(model => model.DataCadastro)
                </th>
                <th class="p-2">
                    @Html.DisplayNameFor(model => model.CadastroAtivo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody style="border:1px solid #AB886D">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="p-2">
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td class="p-2">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td class="p-2">
                        @Html.DisplayFor(modelItem => item.CnpjCpf)
                    </td>
                    <td class="p-2">
                        @Html.DisplayFor(modelItem => item.Celular)
                    </td>
                    <td class="p-2">
                        @Html.DisplayFor(modelItem => item.DataNascimento)
                    </td>
                    <td class="p-2">
                        @Html.DisplayFor(modelItem => item.DataCadastro)
                    </td>
                    <td class="p-2">
                        @Html.DisplayFor(modelItem => item.CadastroAtivo)
                    </td>
                    <td class="p-2">
                        <a asp-action="Edit" class="btn btnEdd" asp-route-id="@item.ClienteId">Editar</a>
                        <a asp-action="Details" class="btn btnEdd" asp-route-id="@item.ClienteId">Detalhes</a>
                        <a asp-action="Delete" class="btn btnEdd" asp-route-id="@item.ClienteId">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>